<h1>Lista de Edificios</h1>

<table>
  <tr>
    <th>Nombre Edificio</th>
    <th>Direccion</th>
    <th>Ciudad</th>
  </tr>
  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.nombre_edificio %></td>
      <td><%= building.direccion %></td>
      <td><%= building.ciudad %></td>
      <td><%= link_to "Editar", buildings_edit_path(building) %></td>
    </tr>
  <% end %>
</table>

  <%= link_to "Crear nuevo Edificio", buildings_new_path %>
  <%= link_to "Back", :back %>