

<h1>Informacion del Edificio</h1>

<h2><%= @building.nombre_edificio %></h2>
<p><%= @building.direccion %></p>
<p><%= @building.ciudad %></p>

<h3>Informacion de departamentos del Edificio</h3>

<% @apartments.each do |apartment| %>
  <p><%= apartment.numero_depto%>
<% end %>

<br>
<%= link_to "Back", :back %>
<br>