<h1>Apartment Info</h1>

<div>
<li>El numero del Depto es <%= @apartment.numero_depto %>, y su Building ID es <%= @apartment.building_id %>
</div>
<%= link_to "Back", :back %>
<%= link_to "Buildings", "/buildings/index" %>

<br>
<%= link_to "Back", :back %>
<br>